(
    id: "infinigen:leaves",
    color: (84, 161, 66, 255),
    textures: Some({
        Top: "leaves",
        Bottom: "leaves",
        Left: "leaves",
        Right: "leaves",
        Front: "leaves",
        Back: "leaves"
    })
)