(
    hview_distance: 16,
    vview_distance: 16,
    world: "MountainIslands",
    zoom_level: 0.,
    wx: -1283.,
    wy: 140.,
    wz: -1752.,
    rotation_x: -0.08,
    rotation_y: -0.9,
    rotation_z: -0.4,
    rotation_w: 0.18,
    save_dir: None,
)
