(
    id: "infinigen:dirt",
    color: (139, 69, 19, 255),
    textures: Some({
        Top: "dirt",
        Bottom: "dirt",
        Left: "dirt",
        Right: "dirt",
        Front: "dirt",
        Back: "dirt"
    })
)