(
    id: "infinigen:gravel",
    color: (128, 128, 128, 255),
    textures: Some({
        Top: "gravel",
        Bottom: "gravel",
        Left: "gravel",
        Right: "gravel",
        Front: "gravel",
        Back: "gravel"
    })
)