(
    id: "infinigen:sand",
    color: (244, 164, 96, 255),
    textures: Some({
        Top: "sand",
        Bottom: "sand",
        Left: "sand",
        Right: "sand",
        Front: "sand",
        Back: "sand"
    })
)