(
    id: "infinigen:stone",
    color: (128, 128, 128, 255),
    textures: Some({
        Top: "stone",
        Bottom: "stone",
        Left: "stone",
        Right: "stone",
        Front: "stone",
        Back: "stone"
    })
)