(
    id: "infinigen:wood",
    color: (139, 69, 19, 255),
    textures: Some({
        Top: "wood",
        Bottom: "wood",
        Left: "wood",
        Right: "wood",
        Front: "wood",
        Back: "wood"
    })
)