name: CI
permissions:
  contents: read

on:
  workflow_dispatch:
  pull_request:
    paths:
      - "**/assets/**"
      - Cargo.toml
      - Cargo.lock
      - "**.rs"
      - .github/workflows/ci.yml
  push:
    branches:
      - main
    paths:
      - "**/assets/**"
      - Cargo.toml
      - Cargo.lock
      - "**.rs"
      - .github/workflows/ci.yml

env:
  CARGO_TERM_COLOR: always
  CARGO_TERM_VERBOSE: true
  CARGO_INCREMENTAL: 0
  CARGO_PROFILE_TEST_DEBUG: 0

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  fmt:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt
          toolchain: nightly
      - uses: taiki-e/install-action@just
      - run: just fmt-check

  test:
    runs-on: ubuntu-24.04-arm
    needs:
      - fmt
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - uses: taiki-e/install-action@just
      - run: just install-debian-deps
      - uses: taiki-e/install-action@cargo-nextest
      - run: just test
  doc:
    runs-on: ubuntu-24.04-arm
    needs:
      - fmt
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - uses: taiki-e/install-action@just
      - run: just install-debian-deps
      - run: just doc
  clippy:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - windows-11-arm
          - macos-latest
          - ubuntu-24.04-arm
    needs:
      - fmt
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy
      - uses: taiki-e/install-action@just
      - if: matrix.os == 'ubuntu-24.04-arm'
        run: just install-debian-deps
      - uses: taiki-e/install-action@cargo-hack
      - run: just clippy-native
  wasm:
    runs-on: ubuntu-24.04-arm
    needs:
      - fmt
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy
          target: wasm32-unknown-unknown
      - uses: taiki-e/install-action@just
      - run: just install-debian-deps
      - run: just clippy-wasm
